body{
    background-color: gray;
}

img{
    max-width: 100%;
}

li:last-of-type {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

h1{
    font-family: 'Solitreo', Arial;
}

h2{
    font-family: 'Shadows Into Light', cursive, Helvetica, sans-serif;
}